# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# log files
_log/
_outputs/
log/
outputs/
visualization/results
visualization/saved_data
noshape_gas_flattop_synthesized_rl100_il13/
src/
model_out/

# Native / Cython build artifacts
build/
*.so
*.pyd
*.dll
*.dylib
*.o
offlinerlkit/utils/ctree/search_tree.cpp
